---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-4xl font-bold mb-2 text-secondary">About Me</h1>
</BaseLayout>
