---
import { Icon } from 'astro-icon/components'
---

<header class="flex justify-between items-center my-8 mb-16">
  <h1 class="text-2xl font-bold hover:text-secondary hover:scale-105 transition-all duration-100">
    <a href="/">Jason Tokoph</a>
  </h1>
  <div class="flex gap-2">
    <a href="/rss.xml">
      <Icon name="mdi:rss-box" class="hover:text-[#ee802f]" />
    </a>
    <a href="https://github.com/jtokoph">
      <Icon name="fa6-brands:github" class="hover:text-secondary" />
    </a>
    <a href="https://bsky.app/profile/jasontokoph.com">
      <Icon name="fa6-brands:bluesky" class="hover:text-[#0085ff]" />
    </a>
    <a href="https://linkedin.com/in/jasontokoph">
      <Icon name="fa6-brands:linkedin" class="hover:text-[#0A66C2]" />
    </a>
  </div>
</header>
