---
import Header from '../components/Header.astro';
import '../styles/global.css';
const pageTitle = Astro.props.pageTitle || "Home Page";
const activePage = Astro.props.activePage || "home";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - Jason Tokoph</title>
  </head>
  <body>
    <main class="mx-auto max-w-3xl px-4 py-8">
      <Header activePage={activePage} />
      <slot />
    </main>
  </body>
</html>
