---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
const pageTitle = Astro.props.pageTitle || "Home Page";
const activePage = Astro.props.activePage || "home";

const {title, description, ogImage, ogType} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - Jason Tokoph</title>
    <meta name="title" content={title || "Jason Tokoph"} />
    <meta name="description" content={description || "Ramblings of a software engineer"} />
    <meta property="og:image" content={ogImage || new URL("/og/default.png", Astro.site)} />
    <meta property="og:title" content={title || "Jason Tokoph"} />
    <meta property="og:description" content={description || "Ramblings of a software engineer"} />
    <meta property="og:type" content={ogType || "website"} />
    <meta property="og:url" content={Astro.url.toString()} />
    <meta property="og:site_name" content="Jason Tokoph" />
    <meta property="og:locale" content="en_US" />
    <script is:inline>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("jt:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("jt:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        setTheme(localStorage.getItem("jt:theme") || "system");
        window.addEventListener("storage", (e) => e.key === "jt:theme" && setTheme(e.newValue || "system"));
        window.addEventListener("jt:set-theme", ({ detail: { theme } }) => setTheme(theme));

        document.addEventListener("DOMContentLoaded", () => {
          const themeToggle = document.querySelectorAll(".theme-toggle");
          themeToggle.forEach((button) => {
            button.addEventListener("click", () => {
              window.dispatchEvent(new CustomEvent("jt:set-theme", { detail: { theme: button.dataset.themeName } }));
            });
          });
        });
      })();
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-33F4D3L9TB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-33F4D3L9TB');
    </script>
  </head>
  <body>
    <main class="mx-auto max-w-3xl px-4 py-8">
      <Header activePage={activePage} />
      <slot />
      <Footer />
    </main>
  </body>
</html>
